In [2]:
# Import necessary libraries and replace 'C:\WinUtils' with the full relative path to your WinUtils folder

import os, sys

os.environ["HADOOP_HOME"] = "C:\WinUtils"
os.environ["PYSPARK_PYTHON"] = "python.exe"
os.environ["PATH"] = os.getenv("path") + ";" + os.getenv("HADOOP_HOME") + "\\bin"

In [3]:
# Initialise Spark session

from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Transaction Dataset Map Reduce script") \
    .getOrCreate()

In [4]:
# Replace 'Your_Dataset.csv' with the full relative path to your dataset and read its data


data = spark.read.option("Header", True).option("InferSchema", True).csv("Your_Dataset.csv")
data.printSchema()

root
 |-- Type: string (nullable = true)
 |-- Days for shipping (real): integer (nullable = true)
 |-- Days for shipment (scheduled): integer (nullable = true)
 |-- Benefit per order: double (nullable = true)
 |-- Sales per customer: double (nullable = true)
 |-- Delivery Status: string (nullable = true)
 |-- Late_delivery_risk: integer (nullable = true)
 |-- Category Id: integer (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Customer City: string (nullable = true)
 |-- Customer Country: string (nullable = true)
 |-- Customer Email: string (nullable = true)
 |-- Customer Fname: string (nullable = true)
 |-- Customer Id: integer (nullable = true)
 |-- Customer Lname: string (nullable = true)
 |-- Customer Password: string (nullable = true)
 |-- Customer Segment: string (nullable = true)
 |-- Customer State: string (nullable = true)
 |-- Customer Street: string (nullable = true)
 |-- Customer Zipcode: integer (nullable = true)
 |-- Department Id: integer (nullable = true)
 |-- Department Name: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- Order City: string (nullable = true)
 |-- Order Country: string (nullable = true)
 |-- Order Customer Id: integer (nullable = true)
 |-- order date (DateOrders): string (nullable = true)
 |-- Order Id: integer (nullable = true)
 |-- Order Item Cardprod Id: integer (nullable = true)
 |-- Order Item Discount: double (nullable = true)
 |-- Order Item Discount Rate: double (nullable = true)
 |-- Order Item Id: integer (nullable = true)
 |-- Order Item Product Price: double (nullable = true)
 |-- Order Item Profit Ratio: double (nullable = true)
 |-- Order Item Quantity: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Order Item Total: double (nullable = true)
 |-- Order Profit Per Order: double (nullable = true)
 |-- Order Region: string (nullable = true)
 |-- Order State: string (nullable = true)
 |-- Order Status: string (nullable = true)
 |-- Order Zipcode: integer (nullable = true)
 |-- Product Card Id: integer (nullable = true)
 |-- Product Category Id: integer (nullable = true)
 |-- Product Description: string (nullable = true)
 |-- Product Image: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Product Price: double (nullable = true)
 |-- Product Status: integer (nullable = true)
 |-- shipping date (DateOrders): string (nullable = true)
 |-- Shipping Mode: string (nullable = true)

In [5]:
#Show data

data.show()

+--------+------------------------+-----------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+-----------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+--------------------------+--------------+
|    Type|Days for shipping (real)|Days for shipment (scheduled)|Benefit per order|Sales per customer|  Delivery Status|Late_delivery_risk|Category Id| Category Name| Customer City|Customer Country|Customer Email|Customer Fname|Customer Id|Customer Lname|Customer Password|Customer Segment|Customer State|     Customer Street|Customer Zipcode|Department Id|Department Name|   Latitude|   Longitude|      Market|Order City|Order Country|Order Customer Id|order date (DateOrders)|Order Id|Order Item Cardprod Id|Order Item Discount|Order Item Discount Rate|Order Item Id|Order Item Product Price|Order Item Profit Ratio|Order Item Quantity| Sales|Order Item Total|Order Profit Per Order|  Order Region|         Order State|   Order Status|Order Zipcode|Product Card Id|Product Category Id|Product Description|       Product Image|Product Name|Product Price|Product Status|shipping date (DateOrders)| Shipping Mode|
+--------+------------------------+-----------------------------+-----------------+------------------+-----------------+------------------+-----------+--------------+--------------+----------------+--------------+--------------+-----------+--------------+-----------------+----------------+--------------+--------------------+----------------+-------------+---------------+-----------+------------+------------+----------+-------------+-----------------+-----------------------+--------+----------------------+-------------------+------------------------+-------------+------------------------+-----------------------+-------------------+------+----------------+----------------------+--------------+--------------------+---------------+-------------+---------------+-------------------+-------------------+--------------------+------------+-------------+--------------+--------------------------+--------------+
|   DEBIT|                       3|                            4|            91.25|       314.6400146| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Cally|      20755|      Holloway|        XXXXXXXXX|        Consumer|            PR|5365 Noble Nectar...|             725|            2|        Fitness| 18.2514534|-66.03705597|Pacific Asia|    Bekasi|    Indonesia|            20755|        1/31/2018 22:56|   77202|                  1360|        13.10999966|             0.039999999|       180517|                  327.75|            0.289999992|                  1|327.75|     314.6400146|                 91.25|Southeast Asia|     Java Occidental|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            2/3/2018 22:56|Standard Class|
|TRANSFER|                       5|                            4|     -249.0899963|       311.3599854|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|         Irene|      19492|          Luna|        XXXXXXXXX|        Consumer|            PR|    2679 Rustic Loop|             725|            2|        Fitness|18.27945137| -66.0370636|Pacific Asia|   Bikaner|        India|            19492|        1/13/2018 12:27|   75939|                  1360|        16.38999939|             0.050000001|       179254|                  327.75|           -0.800000012|                  1|327.75|     311.3599854|          -249.0899963|    South Asia|            Rajast�n|        PENDING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/18/2018 12:27|Standard Class|
|    CASH|                       4|                            4|     -247.7799988|       309.7200012| Shipping on time|                 0|         73|Sporting Goods|      San Jose|         EE. UU.|     XXXXXXXXX|       Gillian|      19491|     Maldonado|        XXXXXXXXX|        Consumer|            CA|8510 Round Bear Gate|           95125|            2|        Fitness|37.29223251| -121.881279|Pacific Asia|   Bikaner|        India|            19491|        1/13/2018 12:06|   75938|                  1360|        18.03000069|             0.059999999|       179253|                  327.75|           -0.800000012|                  1|327.75|     309.7200012|          -247.7799988|    South Asia|            Rajast�n|         CLOSED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/17/2018 12:06|Standard Class|
|   DEBIT|                       3|                            4|      22.86000061|       304.8099976| Advance shipping|                 0|         73|Sporting Goods|   Los Angeles|         EE. UU.|     XXXXXXXXX|          Tana|      19490|          Tate|        XXXXXXXXX|     Home Office|            CA|     3200 Amber Bend|           90027|            2|        Fitness|34.12594605|-118.2910156|Pacific Asia|Townsville|    Australia|            19490|        1/13/2018 11:45|   75937|                  1360|        22.94000053|                    0.07|       179252|                  327.75|            0.079999998|                  1|327.75|     304.8099976|           22.86000061|       Oceania|          Queensland|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/16/2018 11:45|Standard Class|
| PAYMENT|                       2|                            4|      134.2100067|            298.25| Advance shipping|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Orli|      19489|     Hendricks|        XXXXXXXXX|       Corporate|            PR|8671 Iron Anchor ...|             725|            2|        Fitness|18.25376892|-66.03704834|Pacific Asia|Townsville|    Australia|            19489|        1/13/2018 11:24|   75936|                  1360|               29.5|             0.090000004|       179251|                  327.75|            0.449999988|                  1|327.75|          298.25|           134.2100067|       Oceania|          Queensland|PENDING_PAYMENT|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/15/2018 11:24|Standard Class|
|TRANSFER|                       6|                            4|      18.57999992|        294.980011|Shipping canceled|                 0|         73|Sporting Goods|     Tonawanda|         EE. UU.|     XXXXXXXXX|      Kimberly|      19488|       Flowers|        XXXXXXXXX|        Consumer|            NY|    2122 Hazy Corner|           14150|            2|        Fitness|43.01396942|-78.87906647|Pacific Asia| Toowoomba|    Australia|            19488|        1/13/2018 11:03|   75935|                  1360|        32.77999878|             0.100000001|       179250|                  327.75|            0.059999999|                  1|327.75|      294.980011|           18.57999992|       Oceania|          Queensland|       CANCELED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/19/2018 11:03|Standard Class|
|   DEBIT|                       2|                            1|      95.18000031|       288.4200134|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|     Constance|      19487|       Terrell|        XXXXXXXXX|     Home Office|            PR|1879 Green Pine Bank|             725|            2|        Fitness|18.24253845|-66.03705597|Pacific Asia| Guangzhou|        China|            19487|        1/13/2018 10:42|   75934|                  1360|        39.33000183|             0.119999997|       179249|                  327.75|            0.330000013|                  1|327.75|     288.4200134|           95.18000031|  Eastern Asia|           Guangdong|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/15/2018 10:42|   First Class|
|TRANSFER|                       2|                            1|      68.43000031|       285.1400146|    Late delivery|                 1|         73|Sporting Goods|         Miami|         EE. UU.|     XXXXXXXXX|         Erica|      19486|       Stevens|        XXXXXXXXX|       Corporate|            FL| 7595 Cotton Log Row|           33162|            2|        Fitness|25.92886925|-80.16287231|Pacific Asia| Guangzhou|        China|            19486|        1/13/2018 10:21|   75933|                  1360|        42.61000061|             0.129999995|       179248|                  327.75|            0.239999995|                  1|327.75|     285.1400146|           68.43000031|  Eastern Asia|           Guangdong|     PROCESSING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/15/2018 10:21|   First Class|
|    CASH|                       3|                            2|      133.7200012|       278.5899963|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Nichole|      19485|         Olsen|        XXXXXXXXX|       Corporate|            PR|    2051 Dusty Route|             725|            2|        Fitness|18.23322296|-66.03705597|Pacific Asia| Guangzhou|        China|            19485|        1/13/2018 10:00|   75932|                  1360|        49.15999985|             0.150000006|       179247|                  327.75|            0.479999989|                  1|327.75|     278.5899963|           133.7200012|  Eastern Asia|           Guangdong|         CLOSED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|           1/16/2018 10:00|  Second Class|
|    CASH|                       2|                            1|      132.1499939|       275.3099976|    Late delivery|                 1|         73|Sporting Goods|     San Ramon|         EE. UU.|     XXXXXXXXX|         Oprah|      19484|      Delacruz|        XXXXXXXXX|       Corporate|            CA|9139 Blue Blossom...|           94583|            2|        Fitness|37.77399063| -121.966629|Pacific Asia| Guangzhou|        China|            19484|         1/13/2018 9:39|   75931|                  1360|        52.43999863|             0.159999996|       179246|                  327.75|            0.479999989|                  1|327.75|     275.3099976|           132.1499939|  Eastern Asia|           Guangdong|         CLOSED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/15/2018 9:39|   First Class|
|TRANSFER|                       6|                            2|      130.5800018|       272.0299988|Shipping canceled|                 0|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Germane|      19483|         Short|        XXXXXXXXX|       Corporate|            PR|  4058 Quiet Heights|             725|            2|        Fitness|18.28284454|-66.03705597|Pacific Asia|     Tokio|        Jap�n|            19483|         1/13/2018 9:18|   75930|                  1360|        55.72000122|             0.170000002|       179245|                  327.75|            0.479999989|                  1|327.75|     272.0299988|           130.5800018|  Eastern Asia|               Tokio|SUSPECTED_FRAUD|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/19/2018 9:18|  Second Class|
|TRANSFER|                       5|                            2|      45.68999863|       268.7600098|    Late delivery|                 1|         73|Sporting Goods|      Freeport|         EE. UU.|     XXXXXXXXX|         Freya|      19482|       Robbins|        XXXXXXXXX|        Consumer|            NY|   3243 Shady Corner|           11520|            2|        Fitness|40.65486527|-73.58707428|Pacific Asia|    Manado|    Indonesia|            19482|         1/13/2018 8:57|   75929|                  1360|               59.0|             0.180000007|       179244|                  327.75|            0.170000002|                  1|327.75|     268.7600098|           45.68999863|Southeast Asia|C�lebes Septentri...|        PENDING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/18/2018 8:57|  Second Class|
|TRANSFER|                       4|                            2|      21.76000023|       262.2000122|    Late delivery|                 1|         73|Sporting Goods|       Salinas|         EE. UU.|     XXXXXXXXX|     Cassandra|      19481|        Jensen|        XXXXXXXXX|       Corporate|            CA|131 Sunny Treasur...|           93905|            2|        Fitness| 36.6763382| -121.656517|Pacific Asia|    Manado|    Indonesia|            19481|         1/13/2018 8:36|   75928|                  1360|        65.55000305|             0.200000003|       179243|                  327.75|            0.079999998|                  1|327.75|     262.2000122|           21.76000023|Southeast Asia|C�lebes Septentri...|        PENDING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/17/2018 8:36|  Second Class|
|   DEBIT|                       2|                            1|      24.57999992|       245.8099976|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|       Natalie|      19480|      Mcfadden|        XXXXXXXXX|       Corporate|            PR| 2531 Wishing Square|             725|            2|        Fitness|18.27843857|-66.03705597|Pacific Asia|    Sangli|        India|            19480|         1/13/2018 8:15|   75927|                  1360|        81.94000244|                    0.25|       179242|                  327.75|            0.100000001|                  1|327.75|     245.8099976|           24.57999992|    South Asia|         Maharashtra|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/15/2018 8:15|   First Class|
|TRANSFER|                       2|                            1|      16.38999939|            327.75|    Late delivery|                 1|         73|Sporting Goods|       Peabody|         EE. UU.|     XXXXXXXXX|     Kimberley|      19479|        Sharpe|        XXXXXXXXX|       Corporate|            MA|  6417 Silver Towers|            1960|            2|        Fitness|42.52627564|-70.92703247|Pacific Asia|    Sangli|        India|            19479|         1/13/2018 7:54|   75926|                  1360|                0.0|                     0.0|       179241|                  327.75|            0.050000001|                  1|327.75|          327.75|           16.38999939|    South Asia|         Maharashtra|     PROCESSING|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/15/2018 7:54|   First Class|
|   DEBIT|                       2|                            1|     -259.5799866|       324.4700012|    Late delivery|                 1|         73|Sporting Goods|        Caguas|     Puerto Rico|     XXXXXXXXX|          Sade|      19478|     Lancaster|        XXXXXXXXX|       Corporate|            PR|   257 Harvest Close|             725|            2|        Fitness|18.28404999|-66.03705597|Pacific Asia|    Sangli|        India|            19478|         1/13/2018 7:33|   75925|                  1360|        3.279999971|                    0.01|       179240|                  327.75|           -0.800000012|                  1|327.75|     324.4700012|          -259.5799866|    South Asia|         Maharashtra|       COMPLETE|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/15/2018 7:33|   First Class|
| PAYMENT|                       5|                            2|     -246.3600006|       321.2000122|    Late delivery|                 1|         73|Sporting Goods|     Canovanas|     Puerto Rico|     XXXXXXXXX|        Brynne|      19477|         Giles|        XXXXXXXXX|       Corporate|            PR|7342 Hazy Beacon ...|             729|            2|        Fitness| 18.3957901|-65.87288666|Pacific Asia|      Se�l|Corea del Sur|            19477|         1/13/2018 7:12|   75924|                  1360|        6.559999943|                    0.02|       179239|                  327.75|           -0.769999981|                  1|327.75|     321.2000122|          -246.3600006|  Eastern Asia|                Se�l|PENDING_PAYMENT|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/18/2018 7:12|  Second Class|
|    CASH|                       2|                            1|      23.84000015|       317.9200134|    Late delivery|                 1|         73|Sporting Goods|     Paramount|         EE. UU.|     XXXXXXXXX|         Ciara|      19476|          Bird|        XXXXXXXXX|       Corporate|            CA|   7787 Lazy Corners|           90723|            2|        Fitness|33.89869309|-118.1745605|Pacific Asia|  Jabalpur|        India|            19476|         1/13/2018 6:51|   75923|                  1360|        9.829999924|             0.029999999|       179238|                  327.75|            0.079999998|                  1|327.75|     317.9200134|           23.84000015|    South Asia|      Madhya Pradesh|         CLOSED|         null|           1360|                 73|               null|http://images.acm...|Smart watch |       327.75|             0|            1/15/2018 6:51|   First Class|

In [6]:
# Map data

mapped_data = data.rdd.map(lambda row: (row[8], 1))
mapped_data.take(7) #This will be showing the first 7 results

[('Sporting Goods', 1),
 ('Sporting Goods', 1),
 ('Sporting Goods', 1),
 ('Sporting Goods', 1),
 ('Sporting Goods', 1),
 ('Sporting Goods', 1),
 ('Sporting Goods', 1)]

In [7]:
# Reduce data

reduced_data = mapped_data.reduceByKey(lambda a,b: a+b)

# Sort data

sorted_data = reduced_data.sortBy(lambda x: -x[1])
sorted_data.collect()

[('Cleats', 24551),
 ("Men's Footwear", 22246),
 ("Women's Apparel", 21035),
 ('Indoor/Outdoor Games', 19298),
 ('Fishing', 17325),
 ('Water Sports', 15540),
 ('Camping & Hiking', 13729),
 ('Cardio Equipment', 12487),
 ('Shop By Sport', 10984),
 ('Electronics', 3156),
 ('Accessories', 1780),
 ('Golf Balls', 1475),
 ("Girls' Apparel", 1201),
 ('Golf Gloves', 1070),
 ('Trade-In', 974),
 ('Video Games', 838),
 ("Children's Clothing", 652),
 ("Women's Clothing", 650),
 ('Baseball & Softball', 632),
 ('Hockey', 614),
 ('Cameras ', 592),
 ('Toys', 529),
 ('Golf Shoes', 524),
 ('Pet Supplies', 492),
 ('Crafts', 484),
 ('Garden', 484),
 ('DVDs', 483),
 ('Computers', 442),
 ('Golf Apparel', 441),
 ('Hunting & Shooting', 440),
 ('Music', 434),
 ('Consumer Electronics', 431),
 ('Boxing & MMA', 423),
 ('Books ', 405),
 ("Kids' Golf Clubs", 384),
 ('Health and Beauty', 362),
 ('Sporting Goods', 357),
 ('Lacrosse', 343),
 ('Tennis & Racquet', 328),
 ('Fitness Accessories', 309),
 ("Men's Golf Clubs", 283),
 ('CDs ', 271),
 ("Men's Clothing", 208),
 ('Baby ', 207),
 ("Women's Golf Clubs", 181),
 ('Soccer', 138),
 ('Strength Training', 111),
 ('As Seen on  TV!', 68),
 ('Basketball', 67),
 ('Golf Bags & Carts', 61)]

In [8]:
# Convert to DataFrame

result = sorted_data.toDF(['Category', 'Count'])
result.show()

+--------------------+-----+
|            Category|Count|
+--------------------+-----+
|              Cleats|24551|
|      Men's Footwear|22246|
|     Women's Apparel|21035|
|Indoor/Outdoor Games|19298|
|             Fishing|17325|
|        Water Sports|15540|
|    Camping & Hiking|13729|
|    Cardio Equipment|12487|
|       Shop By Sport|10984|
|         Electronics| 3156|
|         Accessories| 1780|
|          Golf Balls| 1475|
|      Girls' Apparel| 1201|
|         Golf Gloves| 1070|
|            Trade-In|  974|
|         Video Games|  838|
| Children's Clothing|  652|
|    Women's Clothing|  650|
| Baseball & Softball|  632|
|              Hockey|  614|
+--------------------+-----+
only showing top 20 rows

In [1]:
# Save result as CSV


result.coalesce(1) \
   .write \
   .option("header", "true") \
   .csv("result")

NameError: name 'result' is not defined

In [13]:
# Convert to Pandas DataFrame

pandasDf = result.toPandas()
pandasDf

                Category  Count
0                 Cleats  24551
1         Men's Footwear  22246
2        Women's Apparel  21035
3   Indoor/Outdoor Games  19298
4                Fishing  17325
5           Water Sports  15540
6       Camping & Hiking  13729
7       Cardio Equipment  12487
8          Shop By Sport  10984
9            Electronics   3156
10           Accessories   1780
11            Golf Balls   1475
12        Girls' Apparel   1201
13           Golf Gloves   1070
14              Trade-In    974
15           Video Games    838
16   Children's Clothing    652
17      Women's Clothing    650
18   Baseball & Softball    632
19                Hockey    614
20              Cameras     592
21                  Toys    529
22            Golf Shoes    524
23          Pet Supplies    492
24                Crafts    484
25                Garden    484
26                  DVDs    483
27             Computers    442
28          Golf Apparel    441
29    Hunting & Shooting    440
30                 Music    434
31  Consumer Electronics    431
32          Boxing & MMA    423
33                Books     405
34      Kids' Golf Clubs    384
35     Health and Beauty    362
36        Sporting Goods    357
37              Lacrosse    343
38      Tennis & Racquet    328
39   Fitness Accessories    309
40      Men's Golf Clubs    283
41                  CDs     271
42        Men's Clothing    208
43                 Baby     207
44    Women's Golf Clubs    181
45                Soccer    138
46     Strength Training    111
47       As Seen on  TV!     68
48            Basketball     67
49     Golf Bags & Carts     61

In [11]:
# Save Pandas DataFrame as CSV
# Replace 'Output_TransactionMapReduceInfo.csv' with the name you want for your output file

pandasDf.to_csv('Output_TransactionMapReduceInfo.csv')